:root {
  --bg: #193549;
  --bg-nav: #182e40;
  --bg-active: #1d425d;
  --bg-hover: #988026;
  --text: #fff;
  --text-active: #fff;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  font-size: 1.125em;
  line-height: 1.6;
  background-color: var(--bg);
  color: var(--text);
  overflow: hidden;
}

header > .title {
  font-weight: 900;
  margin: 0.5em;
  line-height: 0.8;
  color: var(--text);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > h1,
article > h3 {
  text-align: center;
}

.sidebar {
  /* TODO: remove width */
  width: min(100% - 50px, 400px);

  min-height: 100vh;
  background-color: var(--bg-nav);
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  /* transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateX(100%); */
}

.sidebar__list {
  list-style: none !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.sidebar__item {
  padding: 1em 2em;
  margin-bottom: 1em;
}

.sidebar__item:hover {
  background-color: var(--bg-hover);
}

.sidebar__link {
  text-decoration: none;
  color: var(--text);
}

a {
  color: var(--text);
}
